{% extends 'base.html' %}

{% block title %}
    Game Master
{% endblock title %}

{% block content %}
<main>
    <div class="game-master">
        <h1> {{ prompt.prompt }} </h1>
        <form method="post">
            {% csrf_token %}
            <button>Generate</button>
        </form>
    </div>
</main>
{% endblock content %}
