{% extends "base.html" %}

{% block title %}
    New Tweet
{% endblock title %}

{% block content %}
    <main>
        <div class="new-tweet">
            <h2>Today's Prompt:</h2>
            <h2>{{ current_prompt.prompt }}</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Tweet!</button>
            </form>
    </div>
    </main>
{% endblock content %}
