{% extends 'base.html' %}

{% block title %}
    Today's Tweets
{% endblock title %}

{% block content %}
    <main>
        <div class="todays-tweets">
            <h2>Today's Prompt:</h2>
            <h2>{{ current_prompt.prompt }}</h2>
            <div class="tweet-grid">
                {% for tweet in tweets %}
                    <div class="tweet-grid-items">
                        <p class="bold">{{ tweet.user }}</p>
                        <p>{{ tweet.tweet }}</p>
                        {% if tweet in tweet_votes %}
                            <button><a href="{% url 'vote_on_tweet' tweet.id %}?vote=no">Remove vote</a></button>
                        {% else %}
                            <button><a href="{% url 'vote_on_tweet' tweet.id %}?vote=yes">Vote</a></button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}
