@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');

body {
    font-family: 'Mate', serif;
    background-color: #c0deed;
}

main {
    padding: 32px;
    margin-bottom: 100px;
    margin-top: 30px;
}

nav {
    color: #ffffff;
    background-color: 	#0084b4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}

img {
    padding-left: 15px;
}

form {
    text-align: center;
}
.game-master,
.todays-tweets h2,
.new-tweet h2 {
    text-align: center;
}

.tweet-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.tweet-grid-items {
    background-color: #ffffff;
    display:inline-block;
    border: solid #00aced 2px;
    border-radius: 20px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin: 10px;
}

.bold {
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
