{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/tweets.css" %}">
        <title>
            {% block title %}{% endblock title %}
        </title>
    </head>
    <header>
        <nav>
            <h1>Welcome to TweetMeme<img src="https://i.imgur.com/HOeSHsc.png" width="35" height="30"></h1>
        </nav>
    </header>
    <body>
        {% block content %}{% endblock content %}
        <footer>
            <div>
                {% if user.is_superuser %}
                <a class="navtxt" href={% url "main" %}>Play!</a>
                <a class= "navtxt" href="{% url "gm" %}">Game Master</a>
                {% endif %}

                {% if not user.is_authenticated %}
                <a class= "navtxt" href="{% url 'user_signup' %}">Sign up</a>
                {% else %}
                <a class= "navtxt" href ="{% url 'logout' %}">Logout</a>
                {% endif %}


            </div>
        </footer>
    </body>

</html>
